.output {
  align-items: center;
  bottom: 0;
  display: flex;
  flex-direction: row;
  gap: $--very-small-spacing;
  left: -100%;
  position: absolute;
  transition: all 0.6s ease-in-out;
  visibility: hidden;
  width: 100vw;

  padding: $--layout-gutter-width
    ($--layout-column-width + $--layout-gutter-width);
  &::before {
    color: $--text-medium;
    content: '';
    font-family: 'bootstrap-icons';
    font-size: 7vw;
  }

  & .hgroup {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: $--very-small-spacing;
    justify-content: center;
    padding: $--very-small-spacing;
    width: 100%;

    & .post-urls {
      align-items: center;
      display: flex;
      flex-direction: column;
      gap: 0.4rem;
      justify-content: center;
      word-break: break-all;
    }
  }

  &[data-active='true'] {
    left: 0;
    visibility: visible;

    &::before {
      animation: bounceThumbs 1s ease-in-out;
    }
  }

  &[data-result='positive'] {
    background-color: $--background-positive;

    &::before {
      color: $--positive;
      content: '\F407';
    }
  }

  &[data-result='negative'] {
    background-color: $--background-negative;

    &::before {
      color: $--negative;
      content: '\F405';
    }
  }
}
