html {
  & .jessrheb-icon {
    animation: moveInBottom 0.6s ease-in-out;
    bottom: 1vw;
    opacity: 1;
    position: absolute;
    right: 1vw;
    transform: translate(0);
    transition: all 0.6s ease-in-out;
    visibility: visible;
    z-index: 2;

    & img {
      height: auto;
      width: 4vw;
    }
  }

  &:not([data-scroll='0']) {
    .jessrheb-icon {
      opacity: 0;
      transform: translateY(8rem);
      visibility: hidden;
    }
  }

  header {
    align-items: center;
    background-image: url('../img/reblog-checker-background.svg');
    background-size: cover;
    background-position: center;
    border-radius: 0vw 0vw 24vw 0vw;
    display: flex;
    flex-direction: column;
    gap: $--large-spacing;
    height: 100vh;
    justify-content: flex-start;
    padding: 0rem $--layout-column-width;
    width: 100%;

    & .hero-page {
      align-items: center;
      display: flex;
      justify-content: flex-start;
      width: 100%;
      z-index: 2;

      padding: $--large-spacing $--layout-gutter-width;
      & .post-mockup {
        width: 85.7rem;

        & img {
          animation: levitate 4s ease-in-out infinite alternate;
        }
      }

      & .hero-page-container {
        align-items: flex-start;
        animation: moveInTop ease-in-out 0.6s;
        display: flex;
        flex-direction: column;
        gap: $--normal-spacing;
        justify-content: flex-start;

        & button:last-child {
          margin-top: $--medium-spacing;
        }
      }
    }
  }
}

@media (max-width: 980px) {
  html header {
    gap: 0;
    height: fit-content;

    & .jessrheb-icon {
      opacity: 0;
      visibility: hidden;
    }

    & nav {
      & .logo img {
        width: 6.4vw;
      }
    }

    & .hero-page {
      flex-direction: column;
      gap: $--large-spacing;

      & .hero-page-container {
        align-items: center;
        order: 2;

        & h1,
        & h3 {
          text-align: center;
        }

        & h3 {
          width: auto;
        }
      }

      & .post-mockup {
        order: 1;
        width: 56vw;
      }
    }
  }
}

@media (max-width: 680px) {
  html header {
    padding: 0rem;

    & nav {
      align-items: flex-start;
      gap: 0;
      padding: 6vw;

      & menu {
        flex-direction: column;
        gap: 0;
        transition: all 0.3s ease-in-out;

        & li {
          opacity: 0;
          visibility: hidden;
          transition: all 0.3s ease-in-out;
        }

        &::before {
          content: '\F479';
          color: $--accent-purple;
          font-family: 'bootstrap-icons';
          font-size: 6.4vw;
          margin-bottom: 2vw;
        }

        &:hover {
          gap: 1.6vw;

          & li {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }

    h1 {
      font-size: 8vw;
    }
  }

  html main {
    border-radius: 64vw 0vw 0vw 0vw;

    & .step-heading {
      height: 14vw;
      width: 14vw;

      &::before {
        margin: calc(0.325vw * 2);
      }

      & .icon-heading,
      &[data-state^='step-'] .icon-heading {
        font-size: calc(14vw - (0.625vw * 4));
        padding: calc((0.625vw * 2));
      }

      & .loading-spinner,
      &[data-state^='step-'] .loading-spinner {
        border-width: 0.8vw;
        height: calc(14vw - (0.625vw * 4));
        margin: calc((0.625vw * 2));
        width: calc(14vw - (0.625vw * 4));
      }
    }

    & .checking-for {
      margin-top: 20vw;
      width: 50vw;

      & h4 {
        font-size: 100%;
        white-space: nowrap;
      }
    }

    & .steps-container {
      margin-top: 20vw;

      & form .form-container {
        & .input-container {
          flex-direction: column;
          gap: calc($--very-small-spacing / 2);

          & .input {
            width: 100%;
            border: solid $--accent-grey 0.05rem;
            border-radius: $--border-radius;
          }

          & button {
            border-radius: $--border-radius;
            width: 100%;
          }
        }
      }
    }

    & .output {
      padding: 6vw;

      & .hgroup {
        z-index: 2;
      }

      &[data-result]::before {
        position: absolute;
        font-size: 24vw;
        opacity: 0.3;
        z-index: 1;
        left: 50%;
        transform: translate(-50%, 0);
      }
    }
  }
}

@media (max-width: 400px) {
  main {
    & .checking-for {
      width: 60vw;

      & h4 {
        font-size: 90%;
      }

      & button {
        font-size: 80%;
      }
    }
  }
}
